.cardsContainer{
  margin-top:30px 
}

.cardIcons {
  width: 35px;
}
.cardTitleContainer {
  padding: 20px 20px 0 20px;
  color: #8c8c8c;
}
.cardContainerStyle {
  border: 1px solid gray;
  border-left: 5px solid #18ad79;
  border-radius: 5px;
  width: 450px;
  height: 170px;
  margin: 5px;
}
.cardContainerStyle:hover {
  background-color: #f2f2f2;
}
.cardTitleStyle {
  display: inline;
  margin: 3px;
}
.cardUpdateRoleContainer {
  padding: 45px 20px 0 20px;
  color: #8c8c8c;
}
.cardDescriptionStyle {
  padding-left: 20px;
  color: #8c8c8c;
  text-align: start;
}
.hideElement {
  display: none;
}
.showElement {
  display: inline;
  cursor: pointer;
}
.showSpinnerElement {
  display: block;
  width: 100%;
}
.spinner{
  color: #001a4d;
}